package admin

templ Index() {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <title>Admin</title>
    </head>
    <body>
        <main>
            <input name="item" hx-get="/data" hx-target="#results" />
            <div id="results"></div>
        </main>
    </body>
    </html>
}